<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png" type="image/png">
    <link rel="stylesheet" href="/uploadForm.css">
    <title>Custom | Obrafms</title>
</head>
<body>
    <img src="/images/logo.png" alt="logo">
    <a href="/uploadForm" title="Home" class="back font">&#8678;</a>
    <div class="wrapper">
        <form action="/custom" method="post" enctype="multipart/form-data">
            <% if(req.query.message === "success") {%>
                <p id="popup" class="success">Custom Document Uploaded Successfully</p>
            <% } %>  
            <% if(req.query.error === "Fill all form fields!") {%>
                <p id="popup" class="error">Fill all select form fields!</p>
            <% } %>  
            <% if (req.query.error === "An error occurred during upload") { %>
                <span id="popup" class="error"><%= req.query.error%></h3></span>
            <% } %>
            <div>
                <label for="folderName">Folder name</label>
                <input type="text" id="folderName" name="folderName" placeholder="Folder Name" required>
            </div>
            <br>
            <div>
                <label for="fileFolderName">Custom Folder Path</label>
                <input type="text" id="fileFolderName" name="fileFolderName" placeholder="Custom Folder Path" required>
            </div>
            <br>
            <div>
                <input type="file" name="file" required />
            </div>
            <br>
            <div>
                <button type="submit" id="uploadBtn">Upload</button>
            </div>
        </form>       
    </div>
    
<script>
    // JavaScript to hide the error message after 3 seconds
    window.onload = function() {
        const popup = document.getElementById('popup')
        console.log("there is an error:", popup)
        if (popup) {
            setTimeout(() => {
                popup.style.display = 'none'
            }, 3000)

            // Remove query parameters after the success message is displayed
            const url = new URL(window.location)
            url.search = '' // Clear the query string
            window.history.replaceState({}, document.title, url.pathname) // Replace the URL
        }
    }

    // JavaScript to prevent multiple form submissions
    const uploadForm = document.querySelector('form')
    const uploadBtn = document.getElementById('uploadBtn')

    uploadForm.addEventListener('submit', function() {
    // Disable the button after the form is submitted
    uploadBtn.disabled = true
    uploadBtn.innerText = 'Uploading...' // Optional: change button text to indicate progress
    })
</script>
</body>
</html>