<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/logo.png" type="image/png">
    <link rel="stylesheet" href="/login.css"> 
    <title>Login | Obrafms</title>
</head>
<body>
    <img src="/logo.png" alt="logo">
    <div class="wrapper">
        <form action="/login" method="post">
            <% if (req.query.error === "An error occurred during login") { %>
                <span id="error-message" class="error-message" style="color: red;"><h3>req.query.error</h3></span>
            <% } %>
            <% if(req.query.message === "password reset successful") {%>
                <p id="error-message" class="success">Password reset successful</p>
            <% } %>  
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <% if (req.query.error === "No user found") { %>
                    <p class="error-message" id="error-message" style="color: red;"><%= req.query.error %></p>
                <% } %>
            </div>
            <br>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
                <% if (req.query.error === "Incorrect password") { %>
                    <p class="error-message" id="error-message" style="color: red;"><%= req.query.error %></p>
                <% } %>
            </div>
            <br>
            <div>
                <button type="submit">Login</button>
            </div>
            <br>
            <a href="/forgotPassword">Forgot Password?</a>
        </form>
    </div>
<script>
    // JavaScript to hide the error message after 3 seconds
    window.onload = function() {
        const errorMessage = document.getElementById('error-message')
        console.log("there is an error:", errorMessage)
        if (errorMessage) {
            setTimeout(() => {
                errorMessage.style.display = 'none'
            }, 3000) // 3 seconds

            // Remove query parameters after the success message is displayed
            const url = new URL(window.location)
            url.search = '' // Clear the query string
            window.history.replaceState({}, document.title, url.pathname) // Replace the URL
        }
    };
</script>
</body>
</html>>