<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png" type="image/png">
    <link rel="stylesheet" href="/forgot.css"> 
    <title>Reset Password | Obrafms</title>
</head>
<body>
    <img src="/images/logo.png" alt="logo">
    <% if (req.query.error === "An error occurred during preset") { %>
        <span id="popup" class="error-message" style="color: red;"><h3>req.query.error</h3></span>
    <% } %>
    <% if (req.query.error === "No such user") { %>
        <span id="popup" class="error-message" style="color: red;"><h3>req.query.error</h3></span>
    <% } %>
    <div class="wrapper">
        <form action="/resetPassword/<%=token%>" method="post">
            <div>
                <div>
                    <label for="password">New password</label>
                    <input type="password" id="password" name="password" placeholder="New password" required>
                    <% if (req.query.error === "Try different password") { %>
                        <p class="error-message" id="popup" style="color: red;"><%= req.query.error %></p>
                    <% } %>
                </div>
            </div>
            <br>
            <div>
                <button type="submit">Reset Password</button>
            </div>
        </form>
    </div>
<script>
    // JavaScript to hide the error message after 3 seconds
    window.onload = function() {
        const popup = document.getElementById('popup')
        console.log("there is an error:", popup)
        if (popup) {
            setTimeout(() => {
                popup.style.display = 'none'
            }, 3000) // 3 seconds

            // Remove query parameters after the success message is displayed
            const url = new URL(window.location)
            url.search = '' // Clear the query string
            window.history.replaceState({}, document.title, url.pathname) // Replace the URL
        }
    }
</script>
</body>
</html>