<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/images/logo.png" type="image/png">
    <link rel="stylesheet" href="/updateForm.css">
    <script src="https://kit.fontawesome.com/5e2b46074f.js" crossorigin="anonymous"></script>
    <title>Update | Obrafms</title>
</head>
<body>
    <img src="/images/logo.png" alt="logo">
    <a href="/uploadForm/history"><i class="fa-solid fa-angle-left"></i> History</a>
    <div class="wrapper">
        <form action="/updateForm/<%=document.id%>?_method=PUT" method="post">
            <% if (req.query.error === "An error occurred during update") { %>
                <span id="popup" class="error"><%= req.query.error%></h3></span>
            <% } %>
            <h1>Update File "<span class="doc-name"><%=document.fileName%></span>"</h1><br>
            <div>
                <label for="typeOfCase">Type of case</label>
                <select name="typeOfCase" id="typeOfCase">
                    <option value="" disabled selected hidden>Type of case</option>
                    <!-- <option value="Templates">Templates</option> -->
                    <option value="Property">Property</option>
                    <option value="Libel & Defamation">Libel & Defamation</option>
                    <option value="Land">Land</option>
                    <option value="Land & Succession">Land & Succession</option>
                    <option value="Fundamental Human Rights">Fundamental Human Rights</option>
                    <option value="Contract">Contract</option>
                    <option value="Chieftancy">Chieftancy</option>
                </select>
            </div>
            <br>
            <div>
                <label for="year">Year</label>
                <select name="year" id="year">
                    <option value="" disabled selected hidden>Year</option>
                    <option value="2024">2024</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                </select>
            </div>
            <br>
            <div>
                <label for="court">Court handling the case</label>
                <select name="court" id="court">
                    <option value="" disabled selected hidden>Court</option>
                    <option value="Supreme">Supreme</option>
                    <option value="High">High</option>
                    <option value="Customary">Customary</option>
                    <option value="Appeal">Appeal</option>
                    <option value="Magistrate">Magistrate</option>
                </select>
            </div>
            <br>
            <div>
                <label for="suitNumber">Suit Number</label>
                <input type="text" id="suitNumber" name="suitNumber" placeholder="Suit Number">
            </div>
            <br>
            <div>
                <label for="tags">Tags</label>
                <input type="text" name="tags" placeholder="Tags (comma separated)" />
            </div>
            <br>
            <div>
                <input type="file" name="file" />
            </div>
            <br>
            <div>
                <button type="submit" id="uploadBtn">Update</button>
            </div>
        </form>
    </div>
<script>
    // JavaScript to hide the error message after 3 seconds
    window.onload = function() {
        const popup = document.getElementById('popup')
        console.log("there is an error:", popup)
        if (popup) {
            setTimeout(() => {
                popup.style.display = 'none'
            }, 3000)

            // Remove query parameters after the success message is displayed
            const url = new URL(window.location)
            url.search = '' // Clear the query string
            window.history.replaceState({}, document.title, url.pathname) // Replace the URL
        }
    }

    // JavaScript to prevent multiple form submissions
    const uploadForm = document.querySelector('form')
    const uploadBtn = document.getElementById('uploadBtn')

    uploadForm.addEventListener('submit', function() {
    // Disable the button after the form is submitted
    uploadBtn.disabled = true
    uploadBtn.innerText = 'Updatinging...' // Optional: change button text to indicate progress
    })
</script>
</body>
</html>