<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/logo.png" type="image/png">
    <link rel="stylesheet" href="/uploadForm.css">
    <title>Upload | Obrafms</title>
</head>
<body>
    <img src="/logo.png" alt="logo">
    <a href="/uploadForm/history">History</a>
    <div class="wrapper">
        <form action="/uploadForm" method="post">
            <% if(req.query.message === "success") {%>
                <p id="success" class="success">Document Uploaded Successfully</p>
            <% } %>  
            <% if(req.query.error === "Fill all form fields!") {%>
                <p id="success" class="error">Fill all select form fields!</p>
            <% } %>  
            <h1>Upload Documents</h1>
            <div>
                <label for="typeOfCase">Type of case</label>
                <select name="typeOfCase" id="typeOfCase">
                    <option value="" disabled selected hidden>Type of case</option>
                    <!-- <option value="Templates">Templates</option> -->
                    <option value="Property">Property</option>
                    <option value="Libel & Defamation">Libel & Defamation</option>
                    <option value="Land">Land</option>
                    <option value="Land & Succession">Land & Succession</option>
                    <option value="Fundamental Human Rights">Fundamental Human Rights</option>
                    <option value="Contract">Contract</option>
                    <option value="Chieftancy">Chieftancy</option>
                </select>
            </div>
            <br>
            <div>
                <label for="year">Year</label>
                <select name="year" id="year">
                    <option value="" disabled selected hidden>Year</option>
                    <option value="2024">2024</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                </select>
            </div>
            <br>
            <div>
                <label for="court">Court handling the case</label>
                <select name="court" id="court">
                    <option value="" disabled selected hidden>Court</option>
                    <option value="Supreme">Supreme</option>
                    <option value="High">High</option>
                    <option value="Customary">Customary</option>
                    <option value="Appeal">Appeal</option>
                    <option value="Magistrate">Magistrate</option>
                </select>
            </div>
            <br>
            <div>
                <label for="caseTitle">Case Title</label>
                <input type="text" id="caseTitle" name="caseTitle" placeholder="Case Title" required>
            </div>
            <br>
            <div>
                <label for="documentName">Document Name</label>
                <input type="text" id="documentName" name="documentName" placeholder="Document Name" required>
            </div>
            <br>
            <div>
                <label for="fileType">File type</label>
                <select name="fileType" id="fileType">
                    <option value="" disabled selected hidden>File type</option>
                    <option value=".docx">.docx</option>
                    <option value=".pdf">.pdf</option>
                </select>
            </div>
            <br>
            <div>
                <label for="url">File url</label>
                <input type="text" id="url" name="url" placeholder="File url" required>
            </div>
            <br>
            <div>
                <button type="submit">Upload</button>
            </div>
        </form>
    </div>
<script>
    // JavaScript to hide the error message after 3 seconds
    window.onload = function() {
        const successMessage = document.getElementById('success');
        console.log("there is an error:", successMessage)
        if (successMessage) {
            setTimeout(() => {
                successMessage.style.display = 'none';
            }, 3000);

            // Remove query parameters after the success message is displayed
            const url = new URL(window.location);
            url.search = ''; // Clear the query string
            window.history.replaceState({}, document.title, url.pathname); // Replace the URL
        }
    };
</script>
</body>
</html>