*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
:root{
    --white: #fff;
    --black: #000;
    --button: #905D0E;
    --accent: #E19616;
    --blue: #1058A1; 
    --grey-background: #f4f4f4;
    --grey-text: #333; 
    --grey-hover: #555;
    --success: green; 
    --error: red; 
}
body{

    background-color: var(--grey-background);
 }
.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back{
    text-decoration: none;
    font-size: 32px;
    margin-right: 1rem;
}
img{
    width: 60px;
    position: absolute;
    top: 8%;
    left: 6%;
    transform: translate(-50%, -50%);
}
a{
    position: absolute;
    top: 6%;
    right: 4%;
    transform: translate(-50%, -50%); 
}
a img{
    width: 32px
}
.success{
    font-size: 16px;
    text-align: center;
    color: var(--success);
    border: 2px solid var(--success);
    background-color: var(--white);
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 4px 2px;
}
.success-update{
    font-size: 16px;
    text-align: center;
    color: var(--blue);
    border: 2px solid var(--blue);
    background-color: var(--white);
    width: 50%;
    margin: 0 auto;
    padding: 4px 2px;
    border-radius: 5px;
}
.error{
    font-size: 16px;
    text-align: center;
    color: var(--error);
    border: 2px solid var(--error);
    background-color: var(--white);
    width: 50%;
    margin: 0 auto;
    padding: 4px 2px;
    border-radius: 5px;
}
h1{
    font-size: 18px;
    text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  width: 40%;
}
form div{
    display: flex;
    flex-direction: column;
}
form div label{
    font-size: 12px;
    margin-bottom: 1px;
}
form div input{
    padding: 8px 12px;
    border: 2px solid var(--grey-text);
    border-radius: 4px;
}
form div input:focus{
    outline: 2px solid var(--grey-hover);
}
form div input:hover{
    cursor: pointer;
}
select {
    padding: 8px 12px;
    border: 2px solid var(--grey-text);
    border-radius: 4px;
}
select:focus {
    outline: 2px solid var(--grey-hover);
}
/* Add background color to options on hover (using pseudo-element) */
select option:hover {
    background-color: var(--error); /* Background on hover */
    color: var(--error);
}
button{
    font-size: 1rem;
    border: none;
    background-color: var(--grey-text);
    color: var(--white);
    padding: 10px 15px;
    width: 40%;
    border-radius: 4px;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
}
button:hover{
    background-color: var(--grey-hover);
    transition: .3s;
}
a{
    text-align: right;
    color: var(--grey-text);
}
.error-message{
    font-size: 12px;
}
@media only screen and (max-width: 760px) {
    form{
        width: 80%;
    }
    img{
        width: 40px;
        top: 6%;
      
    }
    a{
        top: 6%;
        right: 1%;
    }
}